body {
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
    padding-top: 60px; /* Ensure content is not hidden behind the fixed banner */
}

.banner {
    background-color: #171717;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the banner is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.banner-content {
    flex: 1; 
    text-align: center;
}

.banner-content span {
    background: linear-gradient(to right, #ffffff, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
}

.social-media {
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    opacity: 0;
    animation: fadeIn 2s 1s forwards;
}

.social-media img {
    height: 25px;
    cursor: pointer;
}

.pages {
    color: white;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #252525; 
    border: 1px solid #ffffff;
    z-index: 10;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropdown-toggle:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.dropdown-menu a {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #424242;
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white; 
    position: absolute;
    top: 50%;
    right: -12px; 
    transform: translateY(-50%);
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 45px);
    padding-top: 60px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.main-content img {
    height: 300px;
    margin-right: 40px;
    filter: drop-shadow(0 0 10px #424242);
    animation: floatUpDown 3s infinite ease-in-out alternate;
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
        filter: drop-shadow(0 0 10px #424242);
    }
    50% {
        transform: translateY(-10px);
        filter: drop-shadow(0 0 20px #ffffffe6);
    }
}

.main-content img:hover {
    animation-play-state: running;
    transform: translateY(-5px);
    filter: drop-shadow(0 0 20px #424242);
}

.main-content-text {
    max-width: 600px;
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px; /* Ensure there's space below the fixed banner */
}

.tools-header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.box {
    width: 400px;
    height: 300px;
    background-color: transparent;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff, #ffffff);
    border-image-slice: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: perspective(600px)rotateX(10deg) translateY(-10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 0 15px #424242;
}

.box-content {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1.5em;
    transition: opacity 0.3s ease;
}

.download-button-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.download-button {
    opacity: 0;
    padding: 10px 20px;
    background-color: black;
    border: 2px solid #ffffff;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.3s ease, opacity 0.3s ease, border-image 0.3s ease;
}

.download-button:hover {
    box-shadow: 0 0 15px #424242;
    border-image: linear-gradient(to right, #424242, white);
    border-image-slice: 1;
    transform: scale(1.05);
}

.box:hover .download-button {
    opacity: 1;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.source-code-button-wrapper {
    margin-top: 20px;
    text-align: center;
}

.source-code-button {
    padding: 5px 10px;
    background-color: black;
    border: 2px solid #ffffff;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.3s ease, border-image 0.3s ease;
    text-align: center;
    width: auto;
    display: inline-block;
}

.source-code-button:hover {
    box-shadow: 0 0 15px #424242;
    border-image: linear-gradient(to right, #424242, white);
    border-image-slice: 1;
    transform: scale(1.05);
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.stormy-bg {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.lightning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
}

.rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}

.rain-drop {
    position: absolute;
    bottom: 100%;
    width: 1px;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}